body{
    min-height: 90vh;
    display: grid;
    place-content: center;
    padding: 1rem;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    text-align: center;
}
.main{
    padding: 1rem;
    max-width: 18rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1.1rem;
}
.attribution{
    margin: auto;
    text-align: center;
    font-size: 0.7rem;
}

.qrimage{
    display: block;
    margin: auto;
    max-width: 100%;
    border-radius: 0.5rem;
}
.title{
    font-size: 1.4rem;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}
.text{
    color: hsl(220, 15%, 55%);
    font-size: 1rem;
    font-weight: 400;
    margin: 0.5rem;
}