body{
    background-color: hsl(220, 15%, 55%);
    font-family: "Outfit", sans-serif;
    font-weight: 700;
}
.content{
    margin: auto;
    margin-top: 7.5%;
    padding: 1rem;
    max-width: 16rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
    text-align: center;
}
.attribution{
    margin: auto;
    text-align: center;
    font-size: 0.7rem;
}

.qrimage{
    display: block;
    margin: auto;
    width: 100%;
    border-radius: 1rem;
}
.title{
    font-size: 1.3rem;
    color: hsl(218, 44%, 22%);
}
.text{
    color: hsl(220, 15%, 55%);
    font-size: 0.9rem;
}